@import "./variables.scss";

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $padding-header;
    border-bottom: 1px solid $color-grey-header;
    position: relative; // чтобы меню позиционировалось относительно хедера
}

.dropdown-user-menu {
    @include dropdown-menu(bottom);
    right: 5%;
    margin-top: 1px;
    background-color: $color-white;

    button {
        font-size: $text-average;
    }
}

.elements {
    display: flex;
    align-items: center;
    gap: 20px;
}

button.active {
    color: $color-primary;
}