@import "./variables.scss";

#qr-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 150;
}

#qr-modal {
    position: fixed;
    padding: calc(4% + 50px) 60px 0 60px;
    right: 0;
    width: 50%;
    height: 100%;

    background: $color-white;
    border: 1px solid $color-grey-header;

    z-index: 200;
    overflow: auto;

    img {
        width: 200px;
        height: 200px;
        border: 1px solid $color-grey-header;
        border-radius: 8px;
    }

    h2 {
        text-align: inherit;
        margin: inherit;
        font-weight: inherit;
        margin-bottom: 30px;
    }

    .block-center {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .block-styles {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 20px;
    }

    input {
        width: 155px;
    }

    .color-block {
        width: 40px;
        height: 40px;
    }

    .block-buttons {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    hr {
        margin: 30px 0;
    }

    .gap {
        display: flex;
        gap: 10px;
    }

    .input-with-prefix {
        position: relative;
        display: inline-block;

        .prefix {
            position: absolute;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
            color: $color-grey;
            pointer-events: none;
            z-index: 1;
        }

        input {
            padding-left: 20px;
            position: relative;
        }
    }

}